.seventh-section{
    background: #F9F9F9;
    padding: 100px 0;
}

.seventh-container{
    padding: 0 180px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.title-seven h1{
    font-family: "Boska";
    font-style: normal;
    font-size: 68px;
    color: #1B3936;
    font-weight: 400;
    margin-bottom: 0;
}

.title-seven{
    width: 750px;
}

.seventh-container p{
    font-size: 18px;
    max-width: 400px;
}

.seventh-img-container{
    margin-top: 100px;
    padding-left: 200px;
}

.image-list-container{
    display: flex;
    justify-content: end;
    gap: 140px;
}

.image-list{
    position: relative;
}

.image-list-des-wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
}

.image-list-des-wrapper::-webkit-scrollbar{
    display: none;
}

.image-list-des{
    background-color: #fff;
    width: 400px;
    height: 150px;
    padding: 20px 40px 20px 20px;
    position: absolute;
    box-sizing: border-box;
    top: 310px;
    left: -50px;
}

.image-list-des h3{
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
}

.image-list-des p{
    color: gray;
}

.dir_btn{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dir_btn button{
    background-color: transparent;
    border: 0;
}

.dir_btn img{
    width: 70px;
}